#superglobals {
  background: #ccc;
  padding:  1px 0;
}
#superglobals ul {
  border: 1px solid black;
  border-width: 0 0 0px 1px;
  border-left-color: black;
}
#superglobals ul {
  text-align: left;
  color: black;
  background: #fffffa;
}
#superglobals ul, #superglobals li {
  margin: 0px;
  padding: 0 0 0 3px;
}
#superglobals ul, #superglobals li {
  margin:  5px 24px;
}
.superglobals_hidden {
  display: none;
}
#superglobals .superglobals_array {
  border-left-color: green;
  color: green;
}
#superglobals .superglobals_object {
  border-left-color: red;
  color: red;
}
#superglobals .superglobals_empty {
  color: gray;
}
.superglobals_resource {
  color: blue;
}
.superglobals_type {
  color: black;
}